body {
  margin: 0;
}

.main-container {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  margin: 0;
}

.header-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 63px;
}
.header-container__link {
  display: flex;
  padding-top: 20px;
}
.header-container__arrow {
  font-size: 20px;
  margin-left: 17px;
  color: #000;
}
.header-container__logo {
  width: 150px;
  margin-left: 90px;
}

.image-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

.position {
  width: 100%;
  position: absolute;
  top: 292px;
  z-index: 2;
}

.restaurant {
  display: flex;
  align-items: normal;
  flex-direction: column;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 32px 13px 40px;
  margin: 0;
}
.restaurant__headline {
  display: flex;
}
.restaurant__headline .title {
  font-size: 28px;
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
}
.restaurant__headline .favorite {
  cursor: pointer;
  padding-bottom: 26px;
  padding-right: 29px;
}
.restaurant__headline .favorite i {
  position: absolute;
  margin-left: 60px;
  padding-top: 30px;
  font-size: 24px;
}
.restaurant__headline .favorite__full {
  opacity: 0;
  background-image: linear-gradient(#9356DC, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 2s ease-out;
}
.restaurant__headline .favorite__full:hover, .restaurant__headline .favorite__full:active {
  display: inline;
  opacity: 1;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 2s ease-out;
}
.restaurant .menu__card {
  display: flex;
  padding: 0;
  margin-top: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 349px;
  height: 70px;
}
.restaurant .menu__card:hover .price {
  margin-right: 70px;
}
.restaurant .menu__card:hover .menu__check {
  margin-right: -10px;
}
.restaurant .menu__card:hover .menu__infos--subtitle {
  font-family: Roboto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant .menu__card:hover .menu__infos--subtitle__title {
  white-space: nowrap;
}
.restaurant .menu__list {
  display: flex;
  width: 42px;
  border-bottom: 3px solid #99E2D0;
  flex-direction: column;
}
.restaurant .menu__list--title {
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto;
  color: #000000;
  margin-bottom: 5px;
}
.restaurant .menu__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  margin-left: 15px;
}
.restaurant .menu__content--infos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.restaurant .menu__content--infos:hover .card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant .menu__content:hover .menu__infos {
  width: 220px;
}
.restaurant .menu__infos {
  overflow: hidden;
  padding-bottom: 15px;
}
.restaurant .menu__infos--subtitle {
  font-size: 16px;
  margin: 0;
  font-family: Roboto;
  white-space: nowrap;
}
.restaurant .menu .price {
  padding: 13px 0;
  margin-right: 15px;
  font-weight: bold;
}
.restaurant .menu__check {
  width: 70px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 400ms ease-in-out;
  margin-right: -100px;
}
.restaurant .menu__check .fa-solid {
  color: white;
  margin-left: 18px;
}
.restaurant .card__title {
  font-size: 18px;
  font-family: Roboto;
}

.btn {
  padding: 13px 18px;
  margin-top: 35px;
  width: 185px;
  height: 50px;
  font-family: Roboto;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(#ff79da, #9356DC);
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356DC);
}

.commander {
  text-align: center;
}
.commander__btn {
  padding: 16px 48px 15px 49px;
}

.infos {
  background-color: #353535;
  color: white;
}
.infos--padding {
  padding: 22px 25px;
  display: block;
}
.infos_logo {
  font-size: 18px;
  padding-right: 0;
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 100;
}
.infos_content {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.infos_content--position {
  display: flex;
  align-items: center;
  gap: 11px;
}
.infos .contact-partenaire, .infos .contact {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .position {
    top: 496px;
  }
  .header-container__logo {
    margin-left: 700px;
    width: 200px;
  }
  .image-bg {
    height: 460px;
  }
  .restaurant {
    padding: 51px 10px 40px;
    margin: 0 192px;
    align-items: center;
  }
  .restaurant__headline {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restaurant .favorite {
    padding-bottom: 80px;
  }
  .restaurant .menu {
    width: 66%;
  }
  .restaurant .menu__card {
    width: 634px;
  }
  .restaurant .menu__card:hover .menu__infos, .restaurant .menu__card:hover .title {
    width: 100%;
  }
  .restaurant .menu__content:hover {
    width: 90%;
  }
  .restaurant .menu__content--infos {
    width: 100%;
  }
  .infos--padding {
    padding: 57px 25px 30px;
    display: flex;
    flex-direction: row-reverse;
  }
  .infos_logo {
    padding-right: 50px;
    padding-bottom: 7px;
  }
  .infos_content {
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 17px;
  }
  .infos_content--position {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .infos .contact-partenaire {
    margin-right: 30px;
  }
  .infos .contact {
    margin-right: 80px;
  }
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .position {
    top: 496px;
  }
  .header-container {
    width: 100%;
  }
  .header-container__logo {
    margin-left: 250px;
  }
  .restaurant {
    padding: 51px 20px 40px;
    margin: 0 100px;
    align-items: center;
  }
  .restaurant__headline {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .restaurant .favorite {
    padding-bottom: 80px;
  }
  .infos--padding {
    padding: 57px 25px 30px;
    display: flex;
    flex-direction: row-reverse;
  }
  .infos_logo {
    padding-right: 12px;
    padding-top: 15px;
    align-items: center;
  }
  .infos_content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .infos_content--position {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .infos .contact-partenaire {
    margin-right: 20px;
  }
  .infos .contact {
    margin-right: 40px;
  }
}/*# sourceMappingURL=resto1.css.map */